@charset "UTF-8";
* {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-family: "Shrikhand", cursive;
}

p {
  font-weight: 300;
}

.loader {
  background: #eaeaea;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 1845px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: disappear 200ms forwards;
  animation-delay: 3s;
}

.loader::after {
  content: "";
  position: absolute;
  top: 350px;
  width: 75px;
  height: 75px;
  border: 15px solid white;
  border-top-color: #9356DC;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.Entrée {
  animation: E-appear 1s ease;
  animation-delay: 3s;
}

.Plats {
  animation: P-appear 1s ease;
  animation-delay: 3s;
}

.Désserts {
  animation: D-appear 1s ease;
  animation-delay: 3s;
}

@keyframes E-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes P-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes D-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main-container-p2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

button {
  position: absolute;
  left: 5px;
  font-size: larger;
  border: none;
  background: none;
}

.logo-header {
  display: flex;
  justify-content: flex-start;
  padding-top: 15px;
  padding-bottom: 15px;
}

.logo_OMF {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo-ohmyfood {
  color: var(--main-color);
  width: 50%;
}

header {
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body img {
  object-fit: cover;
  max-width: 100%;
}

.img-Menu {
  width: 100%;
  height: 350px;
  object-fit: cover;
  max-width: 100%;
}

h2 {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.Menu {
  margin-top: -70px;
  z-index: 0;
  width: 100%;
  border: solid 2px #f6f6f6;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  background: #f6f6f6;
  padding-left: 10px;
  padding-right: 10px;
}

.liked {
  height: 32px;
  width: 30px;
  position: relative;
}

i.fa-regular.fa-heart {
  position: absolute;
  top: 0;
  left: 0;
}

i.fa-solid.fa-heart {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
}

.liked:hover i.fa-solid.fa-heart {
  display: block;
  color: #9356dc;
}

.liked:hover i.fa-regular.fa-heart {
  opacity: 0;
  display: none;
}

.Entrée,
.Plat,
.Dessert {
  display: flex;
  flex-direction: column;
}

.title-card {
  border-bottom: 4px solid #99e2d0;
  margin-bottom: 25px;
  width: fit-content;
}

.card-choice {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: black;
  font-weight: 700;
  width: 100%;
  border-radius: 15px;
  background: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
}

.title-description {
  padding: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-choice-title {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
  font-size: 18px;
}

.title-description p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: -18px;
}

.price {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  font-weight: 700;
  padding-right: 20px;
}

/**transform: translateX(-58px);
transition: all 1s ease-out;
**/
.checked {
  background-color: #99e2d0;
  margin-right: -76px;
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #99e2d0;
  border-radius: 0px 15px 15px 0px;
  font-size: 25px;
  opacity: 0;
}

i.fa-solid.fa-circle-check {
  color: white;
}

.card-choice:hover .checked {
  opacity: 1;
  transform: translateX(-70px);
  transition: all 0.5s;
}
.card-choice:hover .price {
  transform: translateX(-65px);
  transition: all 0.5s;
}
.card-choice:hover .title-description p {
  width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: -18px;
}
.card-choice:hover .card-choice-title {
  width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
  font-size: 18px;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-commander {
  text-align: center;
  color: white;
  font-weight: 500;
  border: solid 2px;
  border-color: linear-gradient(to top, #9356dc, #ff79da);
  width: 150px;
  border-radius: 25px;
  padding: 15px 20px 15px 20px;
  background: linear-gradient(to top, #9356dc, #ff79da);
  margin-bottom: 25%;
  margin-top: 25%;
}

.footer {
  color: white;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 5%;
}

footer .logo-ohmyfood {
  filter: brightness(0) invert(1);
  width: 40%;
  height: 40%;
}

footer .fa-solid {
  padding-right: 2%;
}

/*****Média Queries****/
@media screen and (min-width: 1024px) {
  .main-container-p2 {
    max-width: 1920px;
  }
  body {
    width: 100%;
  }
  body img {
    width: 100%;
  }
  .logo-header {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .logo_OMF {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .main-container-p2 {
    display: flex;
    align-items: center;
  }
  header {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  button {
    position: absolute;
    left: 5px;
  }
  .img-Menu {
    width: inherit;
    height: 22em;
    object-fit: cover;
    max-width: 100%;
  }
  h2 {
    text-align: center;
  }
  .Menu {
    position: relative;
    top: -70px;
    z-index: 0;
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: center;
  }
  .liked {
    margin-left: 50px;
  }
  .card-choice {
    width: 500px;
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  article.footer-txt {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  footer .logo-ohmyfood {
    filter: brightness(0) invert(1);
    margin-left: 2%;
    width: 15%;
    height: 15%;
  }
  .card-choice:hover .title-description p {
    width: 300px;
  }
  .card-choice:hover .card-choice-title {
    width: 300px;
  }
}

/*# sourceMappingURL=style-page.css.map */
